<ion-header>
  <ion-toolbar>
    <ion-title>
      Transactions App
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list class="ios list-ios hydrated">
          <ion-list-header class="ios hydrated">
            <ion-icon name="wallet-outline"></ion-icon> Transactions
          </ion-list-header>
          <ngx-datatable 
            class="material"
            [limit]="8" 
            [rows]="rows" 
            [rowHeight]="50" 
            [columns]="columns"
            [columnMode]="'force'" 
            [sortType]="'multi'" 
            [headerHeight]="50" 
            [footerHeight]="50">
          </ngx-datatable>
        </ion-list>

      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- fab placed to the bottom start -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" routerLink="/add-transaction">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>